#section2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #F4F2EE;
}

/* Base comum */
.image-card {
    position: relative;
    height: 500px;
    width: 350px;
    background-position: center;
    background-size: cover;
    border-radius: 16px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.4s ease;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
        font-family: serif;
        color: white;
        font-size: 2.5rem;
        font-weight: 600;
    }
}

/* Zoom leve na imagem */
.image-card:hover {
    transform: scale(1.03);
}

/* Overlay escuro */
.image-card::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
    opacity: 0;
    transition: opacity 0.4s ease;
}

.image-card:hover::before {
    opacity: 1;
}

/* Texto */
.image-card span {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    opacity: 0;
    transform: translateY(10px);
    transition: all 0.4s ease;
    margin-top: 200px;
}

.image-card:hover span {
    opacity: 1;
    transform: translateY(0);
}

/* Imagens */
.image1 {
    background-image: url(/casaco.jpg);
}

.image2 {
    background-image: url(/vestido.jpg);
}

.image3 {
    background-image: url(/blazer.jpg);
}