.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
    height: 80px;
    border-bottom: 1px solid black;
}

.title {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    text-decoration: none;
}

.menu {
    a {
        text-decoration: none;
        color: #a3a3a3;
        padding: 10px;
        margin: 0 5px;
    }
}

.icon_bar {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    height: 60px;
    

    svg {
        cursor: pointer;
        transition: .2s ease-in-out;
        padding: 10px;
        width: 40px;
        height: 40px;
        border-radius: 10px;

        &:hover {
            opacity: 0.6;
            background-color: #E6DACB;
        }
    }
}